* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.q-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 50vh;
    background-color: rgb(190, 190, 190);
    padding: 20px;
    border-radius: 20px;

}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.qoutes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
}

button:hover {
    background-color: #45a049;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}